.mt20{
	margin-top: 20px;
}
/* Left Panel */
#map {
	height: 100%;
}
#mapContainer{
	height: 100vh;
	border-right:1px solid #BCBCBC;
	padding:0;
	margin:0;
}
#loading-indicator{
	margin-top: 300px;
}
#legend-container{
	position: fixed;
	bottom: 0;
	left: 0;
	background-color: rgba(255,255,255,0.5);
	border:1px solid black;
}

/* Other */
#footer{
	position: fixed;
	bottom: 0;
	right: 10px;
	color:gray;
}
.mb20{
  margin-bottom:20px;
}
.panel-scroll { overflow-x: scroll; }