<div style="padding: 0 20px">
	<h2 class="page-header">Directions</h2>

	<div ng-show="!directionsLoaded">
		<input ng-model="$parent.currentAddress" class="form-control mt20" readonly>
		<input ng-model="$parent.destination" class="form-control mt20" readonly>

		<hr>
		Driving
		<input type="radio" name="mode" checked ng-click="mode='driving';">

		Walking
		<input type="radio" name="mode" ng-click="mode='walking';">

		Transit
		<input type="radio" name="mode" ng-click="mode='transit';">
		<hr>

		<button class="btn btn-primary mt20" ng-click="getDirections()">Get Directions</button>
	</div>

	<div ng-show="directionsLoaded">
		<div style="overflow-y: scroll;height: 400px">

			<b>Origin: {{$parent.currentAddress}}</b>

			<table class="table">
				<tbody>
					<tr ng-repeat="step in directions">
						<td ng-bind-html="step.html_instructions"></td>
						<td>{{step.distance.text}}</td>
						<td>{{step.duration.text}}</td>
					</tr>
				</tbody>
			</table>

			<b>Destination: {{$parent.destination}}</b>
		</div>
	</div>
	

</div>

