<div style="padding: 0 20px">
	<h2>Add Activity</h2>
	
	<div ng-show="!statusSet || updating">
		<p>Add an activity so that others know about it.</p>

		<div class="mt20">
			First name:
			<input ng-readonly="statusSet" ng-model="data.first_name" class="form-control" placeholder="First name">
		</div>

		<div class="mt20">
			Last name:
			<input ng-readonly="statusSet" ng-model="data.last_name" class="form-control" placeholder="Last name">
		</div>

		<div class="mt20">
			Current Address:
			<input ng-model="$parent.currentAddress" class="form-control" placeholder="Current Address" readonly>
		</div>

		<div class="mt20">
			Your status:
			<select class="form-control" ng-model="data.status">
				<option value="G">Safe</option>
				<option value="I">Might Need Help</option>
				<option value="B">Need Help</option>
			</select>
		</div>

		<button ng-disabled="!$parent.lat || !$parent.lon || !data.first_name || !data.last_name" class="btn btn-primary mt20" ng-click="setStatus()">Set Status</button>
	</div>

	<div class="alert alert-success" ng-show="statusSet && !updating">
		<h4>Status already set.</h4>
		<p>If you require help. Emergency teams will find you soon.</p>
	</div>

	<button ng-show="statusSet && !updating" class="btn btn-default" ng-click="updating=true">Update Status</button>
</div>
