<div style="padding: 0 20px">
	<h2>Add Activity</h2>
	
	<div ng-show="!statusSet || updating">
		<p>Add an activity so that others know about it.</p>

		<div class="mt20">
			Full name:
			<input ng-readonly="statusSet" ng-model="data.username" class="form-control" placeholder="Full name">
		</div>

		<div class="mt20">
			Activity Name:
			<input ng-readonly="statusSet" ng-model="data.activityName" class="form-control" placeholder="Activity Name">
		</div>

		<div class="mt20">
			Address:
			<input ng-readonly="statusSet" ng-model="data.address" class="form-control" placeholder="Activity Address">
		</div>

		<div class="mt20">
			Activity Date:
			<input ng-readonly="statusSet" ng-model="data.date" class="form-control" placeholder="Activity Date">
		</div>

		<div class="mt20">
			Start Time:
			<input ng-readonly="statusSet" ng-model="data.startTime" class="form-control" placeholder="Start time">
		</div>

		<div class="mt20">
			End Time:
			<input ng-readonly="statusSet" ng-model="data.endTime" class="form-control" placeholder="End time">
		</div>

		<div class="mt20">
			Description:
			<input ng-readonly="statusSet" ng-model="data.description" class="form-control" placeholder="Description">
		</div>

		<div class="mt20">
			Agency Name:
			<input ng-readonly="statusSet" ng-model="data.agency" class="form-control" placeholder="Description">
		</div>

<!-- ng-disabled="!$parent.lat || !$parent.lon || !data.first_name || !data.last_name" -->
		<button ng-disabled="!data.activityName || !data.address || !data.date || !data.startTime || !data.endTime" class="btn btn-primary mt20" ng-click="addActivity()">Set Status</button>
	</div>

	<button ng-show="statusSet && !updating" class="btn btn-default" ng-click="updating=true">Update Status</button>
</div>
