<div style="padding: 0 20px">
	<h2>Add Activity</h2>
	
	<div ng-show="!statusSet || updating">
		<p>Add an activity so that others know about it.</p>

		<div class="mt20">
			Your name:
			<input ng-readonly="statusSet" ng-model="data.username" class="form-control" placeholder="Full name">
		</div>

		<div class="row mt20">
			<div class="col-lg-6 col-md-6">
				Agency Name:
				<input ng-readonly="statusSet" ng-model="data.agency" class="form-control" placeholder="Description">
			</div>
			<div class="col-lg-6 col-md-6">
				Activity Name:
				<input ng-readonly="statusSet" ng-model="data.activityName" class="form-control" placeholder="Activity Name">
			</div>
		</div>

		<div class="mt20">
			Address:
			<input ng-readonly="statusSet" ng-model="data.address" class="form-control" placeholder="Activity Address">
		</div>

		<div class="row mt20">
			<div class="col-lg-4 col-md-4">
				Activity Date:
			<input ng-readonly="statusSet" ng-model="data.date" class="form-control" type ="date">
			</div>
			<div class="col-lg-4 col-md-4">
				Start Time:
				<input ng-readonly="statusSet" ng-model="data.startTime" class="form-control" type ="time">
			</div>
			<div class="col-lg-4 col-md-4">
				End Time:
				<input ng-readonly="statusSet" ng-model="data.endTime" class="form-control" type ="time">	
			</div>
		</div>

		<div class="mt20">
			Description:
			<input ng-readonly="statusSet" ng-model="data.description" class="form-control" placeholder="Description">
		</div>

		<button ng-disabled="!data.activityName || !data.address || !data.date || !data.startTime || !data.endTime" class="btn btn-primary mt20" ng-click="addActivity()">Set Status</button>
	</div>

	<button ng-show="statusSet && !updating" class="btn btn-default" ng-click="updating=true">Update Status</button>
</div>