<div id="legend-container">
	<table class="table">
		<thead>
			<tr>
				<td>
					<div align="center">
						<img src="img/green_marker.png" alt="">
					</div>
				</td>
				<td>
					<div align="center">
						<img src="img/yellow_marker.png" alt="">
					</div>
				</td>
				<td>
					<div align="center">
						<img src="img/red_marker.png" alt="">
					</div>
				</td>
				<td>
					<div align="center">
						<img src="img/blue_marker.png" alt="">
					</div>
				</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="text-center"><b>Safe</b></td>
				<td class="text-center"><b>Might need help</b></td>
				<td class="text-center"><b>Need Help</b></td>
				<td class="text-center"><b>Shelter</b></td>
			</tr>
		</tbody>
	</table>
</div>