<div id="legend-container">
	<table class="table">
		<thead>
			<tr>
				<td>
					<div align="center">
						<img src="img/green_marker.png" alt="">
					</div>
				</td>
				<td>
					<div align="center">
						<img src="img/yellow_marker.png" alt="">
					</div>
				</td>
				<td>
					<div align="center">
						<img src="img/red_marker.png" alt="">
					</div>
				</td>
				<td>
					<div align="center">
						<img src="img/blue_marker.png" alt="">
					</div>
				</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="text-center"><b>Current Events</b></td>
				<td class="text-center"><b>Recent Events</b></td>
				<td class="text-center"><b>No Events</b></td>
				<td class="text-center"><b>Your places</b></td>
			</tr>
		</tbody>
	</table>
</div>